.container {
    width: 1170px;
}

.container-fluid {
    padding: 0;
}

h1 {
    font-size: 35px;
    font-family: Poppins_Bold;
    color: #1E2021;
}

h2 {
    font-size: 33px;
    font-family: Poppins_Bold;
    color: #323538;
}

p {
    font-size: 14px;
    font-family: Poppins_Regular;
    color: #51555A;
}

sub {
    font-size: 20px;
    font-family: Poppins_Medium;
    color: #51555A;
}
