@font-face {
    font-family: Poppins_ExtraLight;
    src: url(../../../assets/fonts/Poppins-ExtraLight.ttf);
}

@font-face {
    font-family: Poppins_Light;
    src: url(../../../assets/fonts/Poppins-Light.ttf);

}

@font-face {
    font-family: Poppins_Thiin;
    src: url(../../../assets/fonts/Poppins-Thin.ttf);
}

@font-face {
    font-family: Poppins_Medium;
    src: url(../../../assets/fonts/Poppins-Medium.ttf);
}

@font-face {
    font-family: Poppins_Bold;
    src: url(../../../assets/fonts/Poppins-Bold.ttf);
}

@font-face {
    font-family: Poppins_Regular;
    src: url(../../../assets/fonts/Poppins-Regular.ttf);
}


