.upfooter {
    height: 105px;
    background-color: var(--bg_color_main1);
    .row {
        height: 105px;
    }

    ul {
        font-size: 12px;
        letter-spacing: 0px;
        line-height: 16px;
        text-transform: uppercase;
        font-weight: 500;
        font-family: Poppins_Regular;
        list-style: none;
        padding: 0;
        li {
        transition: 0.3s ease;
        &:hover {
            transform: translateY(-5px);
        }
    }
    }

    ul a {
        color: var(--text_color-main1);
        cursor: pointer;
        text-decoration: none;
        text-transform: uppercase;
    }
}

.midfooter {
    background-color: var(--bg_color_main1);
    height: 370px;

    .container {
        border-top: 1px solid rgba($color: white, $alpha: 0.52);
        border-bottom: 1px solid rgba($color: white, $alpha: 0.52);
    }

    .col-3 {
        height: 365px;
    }

    .col-3 h4 {
        font-size: 22px;
        color: var(--text_color-main1);
        font-weight: 500;
        font-family: Poppins_Regular;
        margin: 20px 0;
    }

    .col-3 h5 {
        font-size: 15px;
        line-height: 28px;
        color: #ffffff;
        font-weight: 400;
        font-family: Poppins_ExtraLight;
        transition: 0.3s ease;
        &:hover{
            transform: translateX(10px);
        }
    }

    .col-3 a {
        text-decoration: none;
        cursor: pointer;
    }
    
}

.underfooter {
    height: 125px;
    background-color: var(--bg_color_main1);

    .row {
        height: 125px;
        
        .footer_p p {
            font-size: 15px;
            line-height: 21px;
            color: #ffffff;
            font-family: Poppins_ExtraLight;
        }
    }

    .facebook_img, .x_img, .pinterest_img, .google_img {
        position: relative;
        transition: 0.3s ease;
        &:hover {
            transform: translateY(-5px);
        }
    }

    .facebook_img::after {
        content: '';
        position: absolute;
        background-image: url(../../../assets/img/facebook.png);
        display: inline-block;
        width: 34px;
        height: 34px; 
        left: 0px;
    }

    .facebook_img:hover::after {
        background-image: url(../../../assets/img/facebook-hover.png);

    }

    .x_img::after {
        content: '';
        position: absolute;
        background-image: url(../../../assets/img/twitter.png);
        display: inline-block;
        width: 34px;
        height: 34px; 
        left: 0px;
    }

    .x_img:hover::after {
        background-image: url(../../../assets/img/twitter-hover.png);
    }

    .pinterest_img::after {
        content: '';
        position: absolute;
        background-image: url(../../../assets/img/pinterest.png);
        display: inline-block;
        width: 34px;
        height: 34px; 
        left: 0px;
    }

    .pinterest_img:hover::after {
        background-image: url(../../../assets/img/pinterest-hover.png);
    }

    .google_img::after {
        content: '';
        position: absolute;
        background-image: url(../../../assets/img/google-plus.png);
        display: inline-block;
        width: 34px;
        height: 34px; 
        left: 0px;
    }

    .google_img:hover::after {
        background-image: url(../../../assets/img/google-plus-hover.png);
    }

    .footer_phone p {
        font-size: 16px;
        line-height: 16px;
        color: #ffffff;
        font-weight: 500;
        font-family: Poppins_Medium;
        margin: 0;
    }

    .footer_phone img {
        display: inline-block;
        margin: 20px;
    }

    .footer_phone span {
        font-family: Poppins_Bold;
        font-size: 20px;
    }

    .email_img p {
        margin: 0;
        color: #ffffff;
        font-weight: 500;
        font-family: Poppins_Medium;
    }

    .email_img span {
        font-family: Poppins_Bold;
    }

    .email_img img {
        display: inline-block;
        margin: 20px;
    }

    a {
        text-decoration: none;
    }
}