.header {
    background-color: var(--bg_color_main1);
    height: 100px;
}

.header div, ul {
    height: 100px;
}

.header ul {
    font-size: 12px;
    letter-spacing: 0px;
    line-height: 16px;
    text-transform: uppercase;
    font-weight: 500;
    font-family: Poppins_Regular;
    list-style: none;
    padding: 0;
    li {
        transition: 0.3s ease;
        &:hover {
            transform: translateY(-5px);
        }
    }
}

.header ul a {
    color: white;
    text-decoration: none;
    cursor: pointer;
}
