<div class="container_fluid advantages">
    <div class="container d-flex flex-column align-items-center justify-content-evenly">
        <div class="row">
            <div class="col-12">
                <h4>Advantages of Our Writing Services</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-4 d-flex flex-wrap justify-content-center align-items-center text-center">
                <img src="../../../assets/img/02-img-1.png" alt="">
                <h3>Professionally-qualified writing experts</h3>
                <p>But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born</p>
            </div>
            <div class="col-4 d-flex flex-wrap justify-content-center align-items-center text-center">
                <img src="../../../assets/img/02-img-2.png" alt="">
                <h3>Commitment to deliver papers by deadline</h3>
                <p>But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born</p>
            </div>
            <div class="col-4 d-flex flex-wrap justify-content-center align-items-center text-center">
                <img src="../../../assets/img/02-img-3.png" alt="">
                <h3>Top-quality, at a great price - guaranteed</h3>
                <p>But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born</p>
            </div>
        </div>
        <a class="btn_blue" href="#">Place an order</a>
    </div>
</div>