<div class="container-fluid banner">
    <div class="container">
        <div class="row">
            <div class="col-7">
                <h1>BlueEssaySite.net -</h1>
                <h2>expert help for custom Written</h2>
                <hr>
                <sub>On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized</sub>
                <a class="btn_orange" href="#">place an order</a>
            </div>
            <div class="col-5">
                <img class="img_girl" src="../../../assets/img/girl.png" alt="">
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="option_select d-flex align-items-center justify-content-around">
                    <div class="form_select d-flex flex-column">
                        <label>Type of paper</label>
                        <select name="" id="">
                            <option>Placeholder text</option>
                            <option>Sample text</option>
                            <option>Lorem ipsum</option>
                        </select>
                    </div>
                    <div class="form_select d-flex flex-column">
                        <label>Writer level</label>
                        <select name="" id="">
                            <option>University</option>
                            <option>High School</option>
                            <option>Middle School</option>
                            <option>Junior School</option>
                        </select>
                    </div>
                    <div class="form_select d-flex flex-column">
                        <label>Urgency</label>
                        <select name="" id="">
                            <option>15 days</option>
                            <option>21 days</option>
                            <option>25 days</option>
                            <option>30 days</option>
                        </select>
                    </div>
                    <div class="form_select d-flex flex-column">
                        <label>Number of pages</label>
                        <div class="plus_minus d-flex">
                            <button>-</button>
                            <span class="d-flex justify-content-center align-items-center">2</span>
                            <button>+</button>
                        </div>
                    </div>
                    <a class="btn_blue" href="#">Continue</a>
                </div>
            </div>
        </div>
    </div>
</div>