<div class="container_fluid discounts">
    <img class="rocket" src="../../../assets/img/rocket.png" alt="">
    <div class="container">
        <div class="text_discount d-flex align-items-center justify-content-center flex-column">
            <div class="row">
                <div class="col-12">
                    <h4>Our discount program</h4>
                </div>
            </div>
            <div class="row d-flex justify-content-center">
                <div class="col-7">
                    <h5>By utilizing elements and principles of Material Design, we were able to create a framework that incorporates</h5>
                </div>
            </div>
        </div>
        <div class="row disc_tablet d-flex justify-content-center">
            <div class="col-6 g_item">
                <div class="grid_text d-flex justify-content-center align-items-center flex-column">
                    <span>4% off</span> <span>for more than</span> <span>15 pages</span>
                </div>
                <div class="grid_text d-flex justify-content-center align-items-center flex-column">
                    <span>5% off</span> <span>for more than</span> <span>20 pages</span>
                </div>
                <div class="grid_text d-flex justify-content-center align-items-center flex-column">
                    <span>10% off</span> <span>for more than</span> <span>50 pages</span>
                </div>
                <div class="grid_text d-flex justify-content-center align-items-center flex-column">
                    <span>15% off</span> <span>for more than</span> <span>100 pages</span>
                </div>
            </div>
            <div class="col-4 discount_table">
                <div class="advertisement d-flex flex-column justify-content-around">
                    <h4>Try our service & get huge discounts</h4>
                    <div class="first_order d-flex flex-column justify-content-center align-items-center">
                        <span>get</span>
                        <span>15% OFF</span>
                        <span>for your 1st order</span>
                    </div>
                    <h5>Use discount15 as discount code</h5>
                </div>
            </div>
        </div>
    </div>
</div>