<div class="container-fluid feedback">
    <div class="container">
        <div class="feedback_containter d-flex justify-content-between align-items-center">
            <button class="arrow left"><img src="../../../assets/img/arrow.png" alt=""></button>
                <div class="feedback_block d-flex flex-column align-items-center text-center">
                    <h2>What our clients says</h2>
                    <img src="../../../assets/img/05-user-01.png" alt="">
                    <p>Using BestEssayService.net was possibly the best choice of my academic career. Even though I work full-time, I managed to submit all my assignments on time owing to the broad array of services on offer. No matter what written work I needed, help was available. I would give a full ten marks.</p>
                    <h6>Lorna Grey</h6>
                    <p>20 apr 2016 at 8:23</p>
                </div>
            <button class="arrow right"><img src="../../../assets/img/arrow-right.png" alt=""></button>
        </div>
    </div>
</div>
