<footer>
    <div class="container_fluid upfooter">
        <div class="container">
            <div class="row">
                <div class="col-4 d-flex align-items-center justify-content-start">
                    <img src="../../../assets/img/logo.png" alt="logo">
                </div>
                <div class="col-8">
                    <ul class="d-flex align-items-center justify-content-between">
                        <li><a href="#">home</a></li>
                        <li><a href="#">about us</a></li>
                        <li><a href="#">order now</a></li>
                        <li><a href="#">disclaimer</a></li>
                        <li><a href="#">why us</a></li>
                        <li><a href="#">contacts</a></li>
                        <li><a href="#">blog</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid midfooter">
        <div class="container">
            
        </div>
    </div>
</footer>