<footer>
    <div class="container_fluid upfooter">
        <div class="container">
            <div class="row">
                <div class="col-4 d-flex align-items-center justify-content-start">
                    <img src="../../../assets/img/logo.png" alt="logo">
                </div>
                <div class="col-8">
                    <ul class="d-flex align-items-center justify-content-between">
                        <li><a href="#">home</a></li>
                        <li><a href="#">about us</a></li>
                        <li><a href="#">order now</a></li>
                        <li><a href="#">disclaimer</a></li>
                        <li><a href="#">why us</a></li>
                        <li><a href="#">contacts</a></li>
                        <li><a href="#">blog</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid midfooter">
        <div class="container">
            <div class="row">
                <div class="col-3 d-flex flex-column align-items-start justify-content-center">
                    <h4>Section number 1</h4>
                    <a href="#"><h5>But I must explain to you how</h5></a>
                    <a href="#"><h5>Mistaken idea of denouncing</h5></a>
                    <a href="#"><h5>Praising pain was born</h5></a>
                    <a href="#"><h5>Account of the system</h5></a>
                    <a href="#"><h5>Great explorer of the truth</h5></a>
                    <a href="#"><h5>No one rejects, dislikes</h5></a>
                    <a href="#"><h5>Mistaken idea of denouncing </h5></a>
                    <a href="#"><h5>Praising pain was born</h5></a>
                </div>
                <div class="col-3 d-flex flex-column align-items-start justify-content-center">
                    <h4>Section number 2</h4>
                    <a href="#"><h5>But I must explain to you how</h5></a>
                    <a href="#"><h5>Mistaken idea of denouncing</h5></a>
                    <a href="#"><h5>Praising pain was born</h5></a>
                    <a href="#"><h5>Account of the system</h5></a>
                    <a href="#"><h5>Great explorer of the truth</h5></a>
                    <a href="#"><h5>No one rejects, dislikes</h5></a>
                    <a href="#"><h5>Mistaken idea of denouncing </h5></a>
                    <a href="#"><h5>Praising pain was born</h5></a>
                </div>
                <div class="col-3 d-flex flex-column align-items-start justify-content-center">
                    <h4>Section number 3</h4>
                    <a href="#"><h5>But I must explain to you how</h5></a>
                    <a href="#"><h5>Mistaken idea of denouncing</h5></a>
                    <a href="#"><h5>Praising pain was born</h5></a>
                    <a href="#"><h5>Account of the system</h5></a>
                    <a href="#"><h5>Great explorer of the truth</h5></a>
                    <a href="#"><h5>No one rejects, dislikes</h5></a>
                    <a href="#"><h5>Mistaken idea of denouncing </h5></a>
                    <a href="#"><h5>Praising pain was born</h5></a>
                </div>
                <div class="col-3 d-flex flex-column align-items-start justify-content-center">
                    <h4>Section number 4</h4>
                    <a href="#"><h5>But I must explain to you how</h5></a>
                    <a href="#"><h5>Mistaken idea of denouncing</h5></a>
                    <a href="#"><h5>Praising pain was born</h5></a>
                    <a href="#"><h5>Account of the system</h5></a>
                    <a href="#"><h5>Great explorer of the truth</h5></a>
                    <a href="#"><h5>No one rejects, dislikes</h5></a>
                    <a href="#"><h5>Mistaken idea of denouncing </h5></a>
                    <a href="#"><h5>Praising pain was born</h5></a>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid underfooter">
        <div class="container">
            <div class="row">
                <div class="col-xl-3 col-lg-3 footer_p d-flex align-items-center">
                    <p>Copyright В© 2025 BlueEssaySite.net 
                    <br>
                    All rights reserved.</p>
                </div>
                <div class="col-xl-2 col-lg-3 d-flex align-items-center justify-content-between">
                    <a href="#" class="facebook_img"><img src="../../../assets/img/facebook.png" alt=""></a>
                    <a href="#" class="x_img"><img src="../../../assets/img/twitter.png" alt=""></a>
                    <a href="#" class="pinterest_img"><img src="../../../assets/img/pinterest.png" alt=""></a>
                    <a href="#" class="google_img"><img src="../../../assets/img/google-plus.png" alt=""></a>
                </div>
                <div class="col-xl-4 col-lg-3 d-flex align-items-center justify-content-center footer_phone">
                    <img src="../../../assets/img/footer-phone.png" alt="">
                    <a href="#"><p>Toll free: 
                    <br>
                    <span>+ 3 044 111 2732</span></p></a>
                </div>
                <div class="col-xl-3 col-lg-3 email_img d-flex align-items-center justify-content-start">
                    <img src="../../../assets/img/footer-email.png" alt="">
                    <a href="#"><p>Email: 
                    <br>
                    <span>blueessaysite@gmail.com</span></p></a>
                </div>
            </div>
        </div>
    </div>
</footer>