<footer>
    <div class="container_fluid upfooter">
        <div class="container">
            <div class="row">
                <div class="col-4 d-flex align-items-center justify-content-start">
                    <img src="../../../assets/img/logo.png" alt="logo">
                </div>
                <div class="col-8">
                    <ul class="d-flex align-items-center justify-content-between">
                        <li><a href="#">home</a></li>
                        <li><a href="#">about us</a></li>
                        <li><a href="#">order now</a></li>
                        <li><a href="#">disclaimer</a></li>
                        <li><a href="#">why us</a></li>
                        <li><a href="#">contacts</a></li>
                        <li><a href="#">blog</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid midfooter">
        <div class="container">
            <div class="row">
                <div class="col-3 d-flex flex-column align-items-start justify-content-center">
                    <a href="#"><h4>Section number 1</h4></a>
                    <a href="#"><h5>But I must explain to you how</h5></a>
                    <a href="#"><h5>Mistaken idea of denouncing</h5></a>
                    <a href="#"><h5>Praising pain was born</h5></a>
                    <a href="#"><h5>Account of the system</h5></a>
                    <a href="#"><h5>Great explorer of the truth</h5></a>
                    <a href="#"><h5>No one rejects, dislikes</h5></a>
                    <a href="#"><h5>Mistaken idea of denouncing </h5></a>
                    <a href="#"><h5>Praising pain was born</h5></a>
                </div>
                <div class="col-3 d-flex flex-column align-items-start justify-content-center">
                    <a href="#"><h4>Section number 2</h4></a>
                    <a href="#"><h5>But I must explain to you how</h5></a>
                    <a href="#"><h5>Mistaken idea of denouncing</h5></a>
                    <a href="#"><h5>Praising pain was born</h5></a>
                    <a href="#"><h5>Account of the system</h5></a>
                    <a href="#"><h5>Great explorer of the truth</h5></a>
                    <a href="#"><h5>No one rejects, dislikes</h5></a>
                    <a href="#"><h5>Mistaken idea of denouncing </h5></a>
                    <a href="#"><h5>Praising pain was born</h5></a>
                </div>
                <div class="col-3 d-flex flex-column align-items-start justify-content-center">
                    <a href="#"><h4>Section number 3</h4></a>
                    <a href="#"><h5>But I must explain to you how</h5></a>
                    <a href="#"><h5>Mistaken idea of denouncing</h5></a>
                    <a href="#"><h5>Praising pain was born</h5></a>
                    <a href="#"><h5>Account of the system</h5></a>
                    <a href="#"><h5>Great explorer of the truth</h5></a>
                    <a href="#"><h5>No one rejects, dislikes</h5></a>
                    <a href="#"><h5>Mistaken idea of denouncing </h5></a>
                    <a href="#"><h5>Praising pain was born</h5></a>
                </div>
                <div class="col-3 d-flex flex-column align-items-start justify-content-center">
                    <a href="#"><h4>Section number 4</h4></a>
                    <a href="#"><h5>But I must explain to you how</h5></a>
                    <a href="#"><h5>Mistaken idea of denouncing</h5></a>
                    <a href="#"><h5>Praising pain was born</h5></a>
                    <a href="#"><h5>Account of the system</h5></a>
                    <a href="#"><h5>Great explorer of the truth</h5></a>
                    <a href="#"><h5>No one rejects, dislikes</h5></a>
                    <a href="#"><h5>Mistaken idea of denouncing </h5></a>
                    <a href="#"><h5>Praising pain was born</h5></a>
                </div>
            </div>
        </div>
    </div>
</footer>