<div class="container-fluid header"> 
    <div class="container">
        <div class="row">
            <div class="col-4 d-flex align-items-center justify-content-start">
                <img src="../../../assets/img/logo.png" alt="logo">
            </div>
            <div class="col-8">
                <ul class="d-flex align-items-center justify-content-between">
                    <li><a href="#">services</a></li>
                    <li><a href="#">about us</a></li>
                    <li><a href="#">how it works</a></li>
                    <a class="phone" href=""><img src="../../../assets/img/phone.png" alt=""></a>
                    <a class="btn_blue" href="#">sign in</a>
                    <a class="btn_orange" href="#">order</a>
                    <a href=""><img src="../../../assets/img/burger.png" alt=""></a>
                </ul>
            </div>
        </div>
    </div>
</div>