<div class="container_fluid works">
    <div class="container d-flex flex-column align-items-center justify-content-evenly">
        <div class="row">
            <div class="col-12">
                <h2>Our Simple 4-Step Procedure</h2>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-3 d-flex justify-content-between flex-column align-items-center">
                <img src="../../../assets/img/03-img-1.png" alt="">
                <h3>STEP 1</h3>
                <p>Complete the short order form to buy a paper from our easy essay writing service.</p>
            </div>
            <div class="col-3 d-flex justify-content-between flex-column align-items-center">
                <img src="../../../assets/img/03-img-2.png" alt="">
                <h3>STEP 2</h3>
                <p>We allocate your order to a suitably-qualified writer with specialist knowledge in, for example, persuasive essay writing if that is what you want.</p>
            </div>
            <div class="col-3 d-flex justify-content-between flex-column align-items-center">
                <img src="../../../assets/img/03-img-3.png" alt="">
                <h3>STEP 3</h3>
                <p>Our Quality Assurance specialists then check the completed paper to ensure the essay writing is of the highest standard</p>
            </div>
            <div class="col-3 d-flex justify-content-between flex-column align-items-center">
                <img src="../../../assets/img/03-img-4.png" alt="">
                <h3>STEP 4</h3>
                <p>The order you placed with our essay writing service is then sent to you before the deadline you set and is accompanied by several free-of-charge features.</p>
            </div>
        </div>
    </div>
</div>